In this file I create:

1. The connection between PostgreSQL and Python

2. The database called **etl_workshop_first**.

3. Two tables with its properties: **raw_applicant** and **applicant**.

In [23]:
pip install -r code/requirements.txt

Requirement already satisfied: psycopg2-binary in c:\python312\lib\site-packages (from -r code/requirements.txt (line 1)) (2.9.9)
Requirement already satisfied: sqlalchemy in c:\python312\lib\site-packages (from -r code/requirements.txt (line 2)) (2.0.25)
Requirement already satisfied: numpy in c:\python312\lib\site-packages (from -r code/requirements.txt (line 3)) (1.26.3)
Requirement already satisfied: pyarrow in c:\python312\lib\site-packages (from -r code/requirements.txt (line 4)) (15.0.0)
Requirement already satisfied: pandas in c:\python312\lib\site-packages (from -r code/requirements.txt (line 5)) (2.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\python312\lib\site-packages (from sqlalchemy->-r code/requirements.txt (line 2)) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\python312\lib\site-packages (from sqlalchemy->-r code/requirements.txt (line 2)) (3.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\david\appdata\roaming\python\python312\site-packages (from pandas->-r code/requirements.txt (line 5)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas->-r code/requirements.txt (line 5)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas->-r code/requirements.txt (line 5)) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\david\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas->-r code/requirements.txt (line 5)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Import libraries:

In [24]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

from code.connect_database import Connection_Postgres

## Let's know the table
This table has 50.000 rows and 10 columns.

In [25]:
# Create connection with PostgreSQL
connection = Connection_Postgres()
cursor = connection.connection.cursor()
# Consult data
query_to_do = "SELECT first_name, last_name, email, applicant_date, country, experience_year, seniority, technology, code_challenge_score, technical_interview_score FROM raw_applicant"
cursor.execute(query_to_do)
record_table = cursor.fetchall()
# Get column names
column_names = [desc[0] for desc in cursor.description]
# Create dataframe
dataframe = pd.DataFrame(record_table, columns=column_names)
# Create connection with engine
connection_string = f"postgresql://{connection.connection_config['user']}:{connection.connection_config['password']}@{connection.connection_config['host']}:{connection.connection_config['port']}/{connection.connection_config['database']}"
postgres_engine = create_engine(connection_string)
# Close connection
connection.close_connection_database()

In [26]:
# Check info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   first_name                 50000 non-null  object
 1   last_name                  50000 non-null  object
 2   email                      50000 non-null  object
 3   applicant_date             50000 non-null  object
 4   country                    50000 non-null  object
 5   experience_year            50000 non-null  int64
 6   seniority                  50000 non-null  object
 7   technology                 50000 non-null  object
 8   code_challenge_score       50000 non-null  int64
 9   technical_interview_score  50000 non-null  int64
dtypes: int64(3), object(7)
memory usage: 3.8+ MB

Describing the table:

In [27]:
# Describe data
dataframe.describe()

       experience_year  code_challenge_score  technical_interview_score
count     50000.000000          50000.000000               50000.000000
mean         15.286980              4.996400                   5.003880
std           8.830652              3.166896                   3.165082
min           0.000000              0.000000                   0.000000
25%           8.000000              2.000000                   2.000000
50%          15.000000              5.000000                   5.000000
75%          23.000000              8.000000                   8.000000
max          30.000000             10.000000                  10.000000

Checking for NaN values that I couldn't see

In [28]:
dataframe.isna().sum()

first_name                   0
last_name                    0
email                        0
applicant_date               0
country                      0
experience_year              0
seniority                    0
technology                   0
code_challenge_score         0
technical_interview_score    0
dtype: int64

Checking values for each column of table

In [29]:
for column in dataframe.columns:
    print(dataframe[column].value_counts())
    print("-"*10)

first_name
Sarai        33
Elyse        32
Eva          31
Anabel       31
Nayeli       30
             ..
Marie         6
Janis         6
Antonetta     5
Paul          5
Gudrun        5
Name: count, Length: 3007, dtype: int64
----------
last_name
Murazik       138
Nitzsche      134
Lang          133
Metz          133
Harvey        133
             ...
Rutherford     83
Howe           82
White          79
McClure        78
Bechtelar      76
Name: count, Length: 474, dtype: int64
----------
email
marianne31@yahoo.com              3
fern70@gmail.com                  3
benny35@yahoo.com                 2
easter75@gmail.com                2
natalie51@hotmail.com             2
                                 ..
jett.runolfsson@yahoo.com         1
adaline_powlowski@hotmail.com     1
ariel93@hotmail.com               1
magdalen.ankunding17@yahoo.com    1
pattie92@gmail.com                1
Name: count, Length: 49833, dtype: int64
----------
applicant_date
2020-07-07    50
2018-12-06    48
2020-07-18    47
2020-10-12    47
2020-10-02    47
              ..
2020-07-09    17
2020-05-03    16
2019-08-31    16
2019-03-27    15
2022-01-08    14
Name: count, Length: 1646, dtype: int64
----------
country
Malawi                          242
Spain                           238
Cook Islands                    234
Svalbard & Jan Mayen Islands    234
Netherlands Antilles            234
                               ...
Cape Verde                      172
Libyan Arab Jamahiriya          172
Isle of Man                     170
Tanzania                        165
Cocos (Keeling) Islands         164
Name: count, Length: 244, dtype: int64
----------
experience_year
24    1720
7     1699
5     1692
16    1692
29    1677
2     1676
28    1676
23    1675
22    1671
30    1665
4     1664
9     1662
25    1660
26    1659
3     1637
11    1632
10    1623
18    1621
19    1617
21    1614
8     1612
15    1612
1     1608
13    1607
14    1601
12    1600
27    1596
6     1589
20    1585
17    1579
0      779
Name: count, dtype: int64
----------
seniority
Intern       7255
Mid-Level    7253
Trainee      7183
Junior       7100
Architect    7079
Lead         7071
Senior       7059
Name: count, dtype: int64
----------
technology
Game Development                           3818
DevOps                                     3808
Social Media Community Management          2028
System Administration                      2014
Mulesoft                                   1973
Development - Backend                      1965
Development - FullStack                    1961
Adobe Experience Manager                   1954
Data Engineer                              1951
Security                                   1936
Development - CMS Frontend                 1934
Business Intelligence                      1934
Database Administration                    1933
Client Success                             1927
Design                                     1906
QA Manual                                  1902
Technical Writing                          1901
QA Automation                              1892
Sales                                      1890
Development - Frontend                     1887
Development - CMS Backend                  1882
Business Analytics / Project Management    1878
Salesforce                                 1874
Security Compliance                        1852
Name: count, dtype: int64
----------
code_challenge_score
3     4678
8     4619
1     4590
10    4588
2     4579
4     4521
9     4519
7     4506
0     4502
5     4479
6     4419
Name: count, dtype: int64
----------
technical_interview_score
9     4597
1     4588
4     4578
7     4578
8     4555
0     4539
10    4539
3     4528
5     4527
2     4500
6     4471
Name: count, dtype: int64
----------

I see that in two score columns (code_challenge_score and technical_interview_score) have values among 0 and 10, where 10 is the maximum qualitification.

#### Time analysis
Let's go deeper on applicant_date column.

In [30]:
dataframe['applicant_date'] = pd.to_datetime(dataframe['applicant_date'], format='mixed')
dataframe['applicant_year'] = dataframe['applicant_date'].dt.year
dataframe['applicant_month_name'] = dataframe['applicant_date'].dt.month_name()
dataframe['applicant_month'] = dataframe['applicant_date'].dt.month

In [31]:
dataframe['applicant_year'].value_counts()

applicant_year
2020    11237
2018    11061
2021    11051
2019    11009
2022     5642
Name: count, dtype: int64

In [32]:
dataframe['applicant_month_name'].value_counts()

applicant_month_name
May          4752
March        4649
January      4618
June         4566
April        4542
February     4285
July         3996
October      3813
August       3783
December     3777
September    3610
November     3609
Name: count, dtype: int64

### Let's create the new column of is hiring or not
I take code_challenge_score and technical_interview_score for this.

In [33]:
dataframe['is_hire'] = np.where((dataframe['code_challenge_score'] >= 7) & (dataframe['technical_interview_score'] >= 7), 1, 0)

### Let's load this dataframe to applicant table in PostgreSQL

In [34]:
# Load data obtained to PostgreSQL
dataframe.to_sql('applicant', postgres_engine, if_exists='replace', index=False)
connection.log('Data loaded to {}: {} rows - {} columns.' .format('applicant', dataframe.shape[0], dataframe.shape[1]))